
.ant-layout-sider-children{
  background-color: #fff;
}
.ant-pro-page-container{
  background-color: #F4F6FA;
}
.ant-menu-item-selected{
  color:#2A54FF !important;
  background-color: #246EFF1a !important;
}
.ant-menu-submenu-selected{
  .ant-menu-submenu-title{
    color: #2A54FF !important;
    background-color: #246EFF09;
    .ant-menu-submenu-arrow{
      &::before,&::after{
        background-color: #2A54FF;
      }
    }
  }
  //background-color: red;
}
:where(.css-dev-only-do-not-override-zdwiyk).ant-menu-light:not(.ant-menu-horizontal) .ant-menu-submenu-title:hover,
:where(.css-dev-only-do-not-override-7rqe5q).ant-pro-layout .ant-pro-sider .ant-menu .ant-menu-item:hover{
  background-color: #246EFF1a;
}

//#2A54FFFF
